    <nav>
    	<ul>
    		<li class="pure-menu-selected"><a href="#">Home</a></li>
    		<li><a href="#">Home</a></li>
    		<li><a href="#">About Us</a></li>
    		<li><a href="#">Sign In</a></li>
    	</ul>
    <nav>
    <a class="pure-button" href="#">A Pure Button</a>
    <button class="pure-button">A Pure Button</button>

    <div class='main'>
    	<% @post.each do |f|%>
    	<div class='movie_post'
    	<%= f.title%>
    	<%= f.url%>
    	<%= f.image%>
    	<%= f.score%>
    	<link_to "Up Vote!", votes_path(@post.id,)>
    	<link_to "Down Vote!", votes_path(@post.id ) >
    	<% end %>
    </div>
