.container{
	clear:both;
	position: relative;
	width:100%;
	padding:0px;
	margin: 0px;

}

.login_signin {
	margin-left: 14em;
}
.login_signup {
	margin-left: 14em;
}
.login_signup a{
}
.pure-menu.pure-menu-horizontal>ul{
	float: right;
}
.pure-menu li a {
	padding: 3px 20px;
}

.search_bar {
	width:50%;
	float:left;
}
.search_bar form {
 margin-left:1em;
}
.search_bar form button {
 margin-left:1em;
}
.submit-movie{
	float:right;
	margin-right: 1em;
}
#movie-list{
	clear:both;
}

.movie{
	display:inline-block;
	padding: 1em 1em 1em 1em;
	position: relative;
}

.movie:hover{
	background-color: white;
}

.clicked {
	border: 1px solid black ;

}

#flash_notice{
	position: fixed;
	left: 50%;
	height: 50%;
}