.container{
	clear:both;
	border: 1px solid black;
	position: relative;
	width: 60%;
	height: 60%;
}

.login_signin {
	margin-left: 14em;
}
.login_signup {
	margin-left: 14em;
}
.login_signup a{
}

.pure-menu.pure-menu-horizontal>ul{
	float: right;
}