.container{
	clear:both;
	position: relative;
	width:100%;
	margin: 0 auto;
	text-align: center;
}

.profile{
	width:100%;
	height: 300px;
}

.profile-left{
	float:left;
	width:50%;
}

.profile-right{
	width:50%;
	text-align: left;
}



.login_signin {
	margin-left: 14em;
}
.login_signup {
	margin-left: 14em;
}
.login_signup a{
}
.pure-menu.pure-menu-horizontal>ul{
	float: right;
}
.pure-menu li a {
	padding: 3px 20px;
}

.search_bar {
	width:50%;
	float:left;
}
.search_bar form {
	margin-left:1em;
}
.search_bar form button {
	margin-left:1em;
}
.submit-movie{
	float:right;
	margin-right: 1em;
}
#movie-list{
	clear:both;
	display:inline-block;
	text-align: center;
	margin-top: 1em;
}

.movie{
	font-size: 1.5em;
	border-radius: 1em;
	display:inline-block;
	padding: 1em 1em 1em 1em;
	position: relative;
	margin: auto auto;
	text-align: center;
	width: 25%;
}
.movie2{
	font-size: 1.5em;
	border-radius: 1em;
	display:inline-block;
	padding: 1em 1em 1em 1em;
	position: relative;
	margin: auto auto;
	text-align: center;
	width: 15%;
}
.movie a{
	text-decoration: none;		
}

.movie:hover{
	background-color: white;
	-webkit-transition-duration: .3s;
}
.movie2 a{
	text-decoration: none;		
}

.movie2:hover{
	background-color: white;
	-webkit-transition-duration: .3s;
}
.clicked {
	background: rgb(254,252,234); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(254,252,234,1) 0%, rgba(241,218,54,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(254,252,234,1)), color-stop(100%,rgba(241,218,54,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(254,252,234,1) 0%,rgba(241,218,54,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefcea', endColorstr='#f1da36',GradientType=0 ); /* IE6-9 */
}

.tomatoes{
	display:inline-block;
}

.title {
	color: #242E8F;
	width:100%;
	font-size: .7em;
	font-weight: bold;
}
.title:first-letter {
	font-size: 1.2em;
}

.poster{
}

.release_date{
	font-size: .7em;	
}

.tomatoes{
	font-size: .7em;
}

#flash_notice{
	width:100%;
	float:right;
	text-align: right;
	color:red;
}
.field_with_errors { 
	display: inline;
}

#error_explanations{
	float:left;
	text-align: left;
}

// #center_login_errors{
// 	float: left;
// 	text-align: left;
// 	margin: 0 auto;
// }